.kitty-host {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    pointer-events: none; 
}

.kitty-canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    pointer-events: auto;
    cursor: grab;
}

.kitty-leaf-host {
    position: relative !important;
}

.kitty-host.is-dragging .kitty-canvas {
    cursor: grabbing;
}